body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.toolbar {
    margin-bottom: 20px;
}


#mailbox-list .panel-heading .badge {
    float: right;
}


td.collapse.in {
    display: table-cell;
}


/* Until we have a better way to handle `pre` */
.message-list table {
    table-layout: fixed;
}
