body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.toolbar {
    margin-bottom: 20px;
}


#mailbox-list .panel-heading .badge {
    float: right;
}


/*
#message-list table {
    table-layout: fixed;
}

#message-list td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
