body {
  /* Make room for the navigation bar */
  padding-top: 70px;
}

.toolbar {
  /* Match the margin of the navigation bar */
  margin-bottom: 20px;
}

/* Message count */
#mailbox-list .panel-heading .badge {
  float: right;
}

#compose-alert {
  display: none;
}
